@font-face
{
    font-family: "Poppins";
    src: url(../res/Font-Poppins/Poppins-Medium.ttf);
}
body
{
    display: block;
    font-family: Poppins;
    margin: 0;
}
.splide__pagination__page
{
    background: black;
}
header
{
    margin: auto;

    width: 100%;
    height: auto;

}
header h1
{
    margin: auto;
    padding: 20px 20px 20px 70px;
    font-size: 48px;

}
hr
{
    border: 1px solid black;
    opacity: 50%;
    width: 95%;
}
.first, .second, .third
{
    width: 100%;
    display: flex;
    height: auto;
    margin: auto;
}
.first div, .second div, .third div
{
    height: 200px;
    width: 200px;
    margin: 100px;
    flex-wrap: wrap;
    border: 3px solid black;
}
.Contact_bar
{
    width: auto;
    height: auto;
    margin: auto;
}
.Contact_bar ul
{
    display: flex;
}
.Contact_bar ul li
{
    margin: 20px;
}


