@font-face
{
    font-family: "Poppins";
    src: url(../res/Font-Poppins/Poppins-Medium.ttf);
}
body
{
    display: block;
    font-family: Poppins;

    margin: 0;
}
.splide__pagination__page
{
    background: black;
}
header
{
    margin: auto;
    display: flex;
    width: 100%;
    height: auto;

}
header h1
{

    padding: 20px 20px 20px 70px;
    font-size: 48px;

}
ul
{
    margin-block: auto;
    display: flex;


}
ul > li
    {
    margin-right: 20px;
    list-style: none;
}
.splide__slide
{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;

}
.swapped_column
{
    flex-direction: row-reverse;
}
.inner_part
{
    height: 100%;
    flex: 1 1 50%;
}

.firsthalf p
{
    margin: 20px;
}
.last .inner_part
{
    height: calc(100% - 170px);
}
.Contact_bar
{
    width: 100%;
    height: 60px;
    margin: 0;
    display: flex;
    flex-direction: row;
    text-align: center;
    border: 1px solid black;
    align-items: center;

}
.Contact_bar .Contact_bar_column{
    height: fit-content;
    display: block;
    width: calc(100% / 3);
}



